.small-pill {
  border-radius: 18px;
}

.user{
  background-color: rgba(61, 152, 255,0.03);
}
.assistant{
  background-color: rgba(184, 134, 17,0.02);
}

.chat-entry {
  background: rgba(0, 0, 0, 0.08);
}

.message-bubble {
  color: @window_fg_color;
  border-radius: 12px;
  padding: 9px;
  background-color: mix(@window_bg_color, @window_fg_color, .05);
}


.message-bubble-user {
  background-color: alpha(@accent_bg_color, .25);
  color: @card_fg_color;
}

.timestamp {
  font-size: 9pt;
}

.sourceview {
  font-family: monospace;
}

.tag {
  border-radius: 20px;
  background-color: alpha(currentColor, 0.07);
  padding: 5px 13px;
  margin: 0 2px;
}

badge-gray {
  background-color: #deddda;
  color: #3d3846;
}
.badge-silver {
  background-color: #deddda;
  color: #3d3846;
}
.badge-gold {
  background-color: #f6d32d;
  color: #3d3846;
}
.badge-copper {
  background-color: #a47e3c;
}
.badge-bronze {
  background-color: #a47e3c;
}
.badge-iron {
  background-color: #3d3846;
  color: #deddda;
}
.badge-steel {
  background-color: #3d3846;
  color: #deddda;
}
.badge-tin {
  background-color: #deddda;
  color: #3d3846;
}
.badge-aluminum {
  background-color: #deddda;
  color: #3d3846;
}
.badge-cobalt {
  background-color: #3584e4;
}
.badge-titanium {
  background-color: #3d3846;
  color: #deddda;
}