.small-pill {
  border-radius: 18px;
}

.user{
  background-color: rgba(61, 152, 255,0.03);
}
.assistant{
  background-color: rgba(184, 134, 17,0.02);
}

.chat-entry {
  background: rgba(0, 0, 0, 0.08);
}

.message-bubble {
  color: @window_fg_color;
  border-radius: 12px;
  padding: 9px;
  background-color: mix(@window_bg_color, @window_fg_color, .05);
}


.message-bubble-user {
  background-color: alpha(@accent_bg_color, 0.3);
  color: @card_fg_color;
}

.avatar-user {
  opacity: 1;
}

.timestamp {
  font-size: 9pt;
  padding-left: 6px;
}

.sourceview {
  font-family: monospace;
}
